<% content_for :header_tags do %>
  <%# stylesheet_link_tag 'redmine_harvest_smc', :plugin => 'redmine_harvest_smc' %>

  <script type="text/javascript">
    $(function() {
        var settingz = $('#rm_smc_settings');
        var i = $('#rm_smc_settings tr').size() + 1;
        
        $('#addSetting').click( function() {
          //<input type="text" id="rm_smc_setting" size="25" name="new_settings[redmine_harvest_smc_notes_string' + i +']" value="" placeholder="HARVEST NOTES STRING" />
          var new_row = $('<tr><td id="projects_clone_placeholder'+i+'"></td><td id="tasks_clone_placeholder'+i+'"></td><td id="clone_placeholder'+i+'"></td><td>→</td><td><input type="text" id="rm_smc_setting_redmine_issue'+i+'" size="16" name="new_settings[redmine_harvest_smc_redmine_issue' + i +']" value="" placeholder="REDMINE ISSUE ID" /><a href="#" id="rmSetting">X</a></td></tr>');
           //.insertAfter('.ui-widget:last').find('input, button').remove();
          new_row.appendTo(settingz);


          var clone_id_str = '#clone_placeholder'+i;
          var clone_placeholder = $(clone_id_str);
          var new_clone_id = '#combobox'+i
          var clone = $('#combobox').clone().attr('id', new_clone_id);
          var clone_new_name = 'new_settings[redmine_harvest_smc_notes_string' + i +']'
          clone.attr('name', clone_new_name);
          clone.appendTo(clone_placeholder);
          $(clone).combobox();

          var projects_clone_id_str = '#projects_clone_placeholder'+i;
          var projects_clone_placeholder = $(projects_clone_id_str);
          var projects_new_clone_id = '#projects_combobox'+i
          var projects_clone = $('#projects_combobox').clone().attr('id', projects_new_clone_id);
          var projects_clone_new_name = 'new_settings[redmine_harvest_smc_project' + i +']'
          projects_clone.attr('name', projects_clone_new_name);
          projects_clone.appendTo(projects_clone_placeholder);

          var tasks_clone_id_str = '#tasks_clone_placeholder'+i;
          var tasks_clone_placeholder = $(tasks_clone_id_str);
          var tasks_new_clone_id = '#tasks_combobox'+i
          var tasks_clone = $('#tasks_combobox').clone().attr('id', tasks_new_clone_id);
          var tasks_clone_new_name = 'new_settings[redmine_harvest_smc_task' + i +']'
          tasks_clone.attr('name', tasks_clone_new_name);
          tasks_clone.appendTo(tasks_clone_placeholder);


          i++;
          return false;
        });
        
        $('#rmSetting').live('click', function() { 
          $(this).parents('tr').remove();
          i--;

          return false;
        });
});

  </script>
   

  <style>
  .ui-combobox {
    position: relative;
    display: inline-block;
  }
  .ui-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
    /* support: IE7 */
    *height: 1.7em;
    *top: 0.1em;
  }
  .ui-combobox-input {
    margin: 0;
    padding: 0.3em;
    width: 300px;
  }
  .ui-state-default {
    color: #000000;
  }
  table#rm_smc_settings td {
   padding-right: 50px;
  }
  </style>
  <script>
  (function( $ ) {
    $.widget( "ui.combobox", {
      _create: function() {
        var input,
          that = this,
          wasOpen = false,
          select = this.element.hide(),
          selected = select.children( ":selected" ),
          value = selected.val() ? selected.text() : "",
          wrapper = this.wrapper = $( "<span>" )
            .addClass( "ui-combobox" )
            .insertAfter( select );
 
        function addNewElem( element ) {
          var value = $( element ).val();
    
          $( select ).append($('<option selected="selected"></option>').val(value).html(value));      
          
        }
 
        input = $( "<input>" )
          .appendTo( wrapper )
          .val( value )
          .attr( "title", "" )
          .addClass( "ui-state-default ui-combobox-input" )
          .autocomplete({
            delay: 0,
            minLength: 0,
            source: function( request, response ) {
              var matcher = new RegExp( $.ui.autocomplete.escapeRegex(request.term), "i" );
              response( select.children( "option" ).map(function() {
                var text = $( this ).text();
                if ( this.value && ( !request.term || matcher.test(text) ) )
                  return {
                    label: text.replace(
                      new RegExp(
                        "(?![^&;]+;)(?!<[^<>]*)(" +
                        $.ui.autocomplete.escapeRegex(request.term) +
                        ")(?![^<>]*>)(?![^&;]+;)", "gi"
                      ), "<strong>$1</strong>" ),
                    value: text,
                    option: this
                  };
              }) );
            },
            select: function( event, ui ) {
              ui.item.option.selected = true;
              that._trigger( "selected", event, {
                item: ui.item.option
              });
            },
            change: function( event, ui ) {
              if ( !ui.item ) {
                addNewElem( this );


              }
            }
          })
          .addClass( "ui-widget ui-widget-content ui-corner-left" );
 
        input.data( "ui-autocomplete" )._renderItem = function( ul, item ) {
          return $( "<li>" )
            .append( "<a>" + item.label + "</a>" )
            .appendTo( ul );
        };
 
        $( "<a>" )
          .attr( "tabIndex", -1 )
          .attr( "title", "Show All Items" )
          .tooltip()
          .appendTo( wrapper )
          .button({
            icons: {
              primary: "ui-icon-triangle-1-s"
            },
            text: false
          })
          .removeClass( "ui-corner-all" )
          .addClass( "ui-corner-right ui-combobox-toggle" )
          .mousedown(function() {
            wasOpen = input.autocomplete( "widget" ).is( ":visible" );
          })
          .click(function() {
            input.focus();
 
            // close if already visible
            if ( wasOpen ) {
              return;
            }
 
            // pass empty string as value to search for, displaying all results
            input.autocomplete( "search", "" );
          });
 
        input.tooltip({
          tooltipClass: "ui-state-highlight"
        });
      },
 
      _destroy: function() {
        this.wrapper.remove();
        this.element.show();
      }
    });
  })( jQuery );
 
  $(function() {
    $( "#combobox" ).combobox();
    $( "#toggle" ).click(function() {
      $( "#combobox" ).toggle();
    });
  });
  </script>  

<% end %>

<h3><%= l(:rm_smc_settings) %> </h3>
<em class="info"><%= l(:rm_smc_settings_info) %></em>
<br />

<%= form_for :harvest_settings, :url =>{:action=>"harvest_settings"} do | f | -%> 
<table id="rm_smc_settings">
  <thead>
    <tr>
      <td><%= l(:rm_smc_project) %></td>
      <td><%= l(:rm_smc_task) %></td>
      <td><%= l(:rm_smc_regex) %></td>
      <td><%= l(:rm_smc_applies_to) %></td>
      <td><%= l(:rm_smc_rm_issue) %></td>
    </tr>

  </thead>

  <% @harvest_settings.each do |setting| %>
  <tr>
    <td>
      <%= setting.project %>
    </td>
    <td>
      <%= setting.task %>
    </td>
    <td>
      <%= setting.notes_string %>
    </td>
    <td>
      →
    </td>
    <td>
      <%# #TODO: link_to %>
      <a href="/issues/<%= setting.redmine_issue %>" title="LINK TO ISSUE <%= setting.redmine_issue %>"><%= setting.redmine_issue %></a>
      <%# text_field_tag "settings[redmine_harvest_smc_applies_to_rm_issue]", setting.redmine_issue] %>

      <%= link_to "Delete", harvest_settings_delete_path(setting.id) , :method => :delete, :confirm => "Are you sure?"%>
    </td>
    
  </tr>
  <% end %>

  <tr>
    <td>
      <div class="ui-widget">
        
        <%= select_tag("new_settings[redmine_harvest_smc_project]", options_for_select(@projects), :include_blank => true, :id => :projects_combobox) %>
        
      </div>
    </td>
    <td>
      <div class="ui-widget">
        
        <%= select_tag("new_settings[redmine_harvest_smc_task]", options_for_select(@tasks), :include_blank => true, :id => :tasks_combobox) %>
        
      </div>
      
    </td>

    <td>
     
      <div class="ui-widget">
        
        <%= select_tag("new_settings[redmine_harvest_smc_notes_string]", options_for_select(@notes), :include_blank => true, :id => :combobox) %>
        
      </div>
    </td>
    <td>
      →
    </td>
    <td>
    	<%= text_field_tag "new_settings[redmine_harvest_smc_redmine_issue]", nil, :placeholder => "REDMINE ISSUE ID", :size => 16 %>
    </td>
      
  </tr>

  <tfoot>
    <tr>
      <td><!--i>< a href="#" id="addSetting">Add Another</a></i--></td>
    </tr>
  </tfoot>
</table>

<%= f.submit %>
<% end #form_for %>
