<% content_for :header_tags do %>
    <%= stylesheet_link_tag "demo_table_jui.css", :plugin => "redmine_harvest_smc", :media => "screen" %>
    <%= stylesheet_link_tag "jquery.dataTables.css", :plugin => "redmine_harvest_smc", :media => "screen" %>
    <%= stylesheet_link_tag "jquery.dataTables_themeroller.css", :plugin => "redmine_harvest_smc", :media => "screen" %>
    <%= stylesheet_link_tag "demo_page.css", :plugin => "redmine_harvest_smc", :media => "screen" %>
    <%= stylesheet_link_tag "demo_table.css", :plugin => "redmine_harvest_smc", :media => "screen" %>
    <%= stylesheet_link_tag "jquery-dataTables-ColVis.css", :plugin => "redmine_harvest_smc", :media => "screen" %>
    <%= stylesheet_link_tag "font-awesome.min.css", :plugin => "redmine_harvest_smc", :media => "screen" %>

    <%= javascript_include_tag "lib/jquery-dataTables.js", :plugin => "redmine_harvest_smc" %>
    <%= javascript_include_tag "lib/jquery-dataTables.columnFilter.js", :plugin => "redmine_harvest_smc" %>
    <%= javascript_include_tag "lib/jquery-dataTables.colVis.js", :plugin => "redmine_harvest_smc" %>
    <%= javascript_include_tag "lib/jquery-cookies.min.js", :plugin => "redmine_harvest_smc" %>
   

    <%= javascript_include_tag "redmine_harvest_smc.js", :plugin => "redmine_harvest_smc" %>
    <style>
    .ui-menu { position: fixed; }
    .unmatched_rm_issue { color: #666;}
    .hightlightedRow { color: #FF0000!important;}
    </style>
  <script>
  //sortof a gnarly prototype. good fodder for refactor.
  Date.prototype.getDOY = function() {
    var d = new Date(this.getFullYear(),0,1);
    return Math.ceil((this - d) / 86400000);
  }

  $(function() {
    $( "#rm_smc_from" ).datepicker({
      defaultDate: "today",
      maxDate: '+0d',
      minDate: '-1y',
      dateFormat: 'yy-mm-dd',
      changeMonth: true,
      changeYear: true,
      numberOfMonths: 1
    });
    $( "#rm_smc_to" ).datepicker({
      defaultDate: "today",
      maxDate: '+0d',
      minDate: '-1y',
      dateFormat: 'yy-mm-dd',
      changeMonth: true,
      changeYear: true,
      numberOfMonths: 1

    });
  });



  $(function() {
    $( "#rerun" )
      .button({
          text: false,
          icons: {
            primary: "ui-icon-triangle-1-s"
          }
        })
        .click(function() {
          var menu = $( this ).parent().next().show().position({
            my: "left top",
            at: "left bottom",
            of: this
          });
          $( document ).one( "click", function() {
            menu.hide();
          });
          return false;
        })
        .parent()
          .buttonset()
          .next()
            .hide()
            .menu();
  });

  $(function() {
    $("#rm_smc_sync").click(function() {
        $('#harvest_entry_rm_smc_checbox_action').val('reconcile');
        $('form').submit();
        return false;
    });
    $("#rm_smc_destroy").click(function() {
        $('#harvest_entry_rm_smc_checbox_action').val('destroy');
        $('form').submit();
        return false;
    });
  });

  $(function() {

    $('#rm_smc_sync_dates').click( function(e){
        if ( $( "#rm_smc_from" ).val()=="") {
          $( "#rm_smc_from" ).effect("highlight", {color: 'red'}, 3000);
          return false;
        } else if ($( "#rm_smc_to" ).val() == "") {
          $( "#rm_smc_to" ).effect("highlight", {color: 'red'}, 3000);
          return false;
        } else {
          $('#harvest_entry_rm_smc_checbox_action').val('sync_dates');
          $('form').submit();
          return false;
        }
    });

    $('#rm_smc_validate').click( function(e){
        if ( $( "#rm_smc_from" ).val()=="") {
          $( "#rm_smc_from" ).effect("highlight", {color: 'red'}, 3000);
          return false;
        } else if ($( "#rm_smc_to" ).val() == "") {
          $( "#rm_smc_to" ).effect("highlight", {color: 'red'}, 3000);
          return false;
        } else {
          $('#harvest_entry_rm_smc_checbox_action').val('validate');
          $('form').submit();
          return false;
        }
        

    });

    $('#rm_smc_reconcile').click( function(e){
        e.preventDefault();
        window.location = $(this).attr('href');
    });


    $('#rm_smc_reset_filterz').click( function(e){
        e.preventDefault();
        $.cookie('SpryMedia_DataTables_redmine_harvest_smc_table_harvest', null, { path: '/' });
        //$.removeCookie("SpryMedia_DataTables_redmine_harvest_smc_table_");
        window.location.reload(true);
    });
  });  

  $(function() {
    $( document ).tooltip({
      track: true
    });
  });

  </script>

<% end %>

<%= form_for :harvest_entry, :url =>{:action=>"reconcile"} do | f | -%>
    <fieldset id="rm_smc_filters" class="collapsible ">
        <legend onclick="toggleFieldset(this);">Filters</legend>
        <div>
            <span>&nbsp;</span>
            <span id="statusFilter">Status</span>
            <span id="rmDateFilter">Date</span>
            <span id="rmUserFilter">RM User</span>
            <span id="rmIssueFilter">RM Issue</span>
            <span id="projectFilter">Project</span>
            <span id="taskFilter">Task</span>
            <span id="hoursFilter">Hours</span>
            <span id="notesFilter">Notes</span>
            <button id="rm_smc_reset_filterz" href="<%= harvest_path %>" ><%= t :rm_smc_reset_filters %></button>

        </div>
    </fieldset>

    <fieldset id="rm_smc_options" class="collapsible">
        <legend onclick="toggleFieldset(this);">Options</legend>
        <div>
            <label for="from"><%= t :rm_smc_from %></label>
            <input type="text" id="rm_smc_from" name="harvest_entry[from]" />
            <label for="to"><%= t :rm_smc_to %></label>
            <input type="text" id="rm_smc_to" name="harvest_entry[to]" />
            <!--button id="rm_smc_sync_dates" href="#" ><%# t :rm_smc_sync_dates %></button-->
            <button id="rm_smc_validate" href="#" ><%= t :rm_smc_sync %> <i class="icon-refresh"></i></button>
            <label for="rm_smc_validate_force"><%= t :rm_smc_force %></label>
            <input type="checkbox" id="rm_smc_validate_force" name="harvest_entry[rm_smc_validate_force]" checked="checked" />
            <% if User.current.admin? %> 
              <label for="rm_smc_validate_all_users"><%= t :rm_smc_all_users %></label>
              <input type="checkbox" id="rm_smc_validate_all_users" name="harvest_entry[rm_smc_validate_all_users]" />
            <% end %>
            <br />
        </div>
    </fieldset>

<table cellpadding="0" cellspacing="0" border="0" class="display" id="redmine_harvest_smc_table">
    <thead>

        <tr>

            <td title="permalink to Harvest"><%= image_tag 'harvest-logo-icon-25px.png', :plugin => 'redmine_harvest_smc' %></td>
            <td><span>Status</span></td>
            <td><span>Date</span></td>
            <td><span>User</span></td>
            <td><span>Issue</span></td>
            <td><span>Project</span></td>
            <td><span>Task</span></td>
            <td><div class="rm_smc_hours_total" title="Hours total">&nbsp;</div></td>
            <td><span>Notes</span></td>
            
        </tr>
    </thead>
    <tfoot class="hidden" style="visibility:hidden;">
        <tr>

            <td>&nbsp;</td>    
            <td>status</td>
            <td>date</td>
            <td>RM user</td>
            <td>RM issue</td>
            <td>project</td>
            <td>task</td>
            <td>hours</td>
            <td>notes</td> 
               

        </tr>
    </tfoot>
    <tbody>
            <% @harvest_entries.each do |entry| %>
            <tr>
                <% day = Date.strptime(entry.spent_at, '%Y-%m-%d').strftime('%Y/%m/%d') %>
                <td><a href="https://<%= Setting["plugin_redmine_harvest_smc"]["harvest_subdomain"] %>.harvestapp.com/time/day/<%= day %>" title="Harvest link to <%= day %>" class="entry_link_to_harvest">⃔</a></td>
                <td>
                  <% if entry.status == 'problem' or entry.status == 'unmatched' %>
                    <b class="hightlightedRow" title="<%= entry.status_info %>"><%= entry.status %></b>
                  <% else %>
                    <%= entry.status %>
                  <% end %>
                  
                </td>
                <td><%= Date.strptime(entry.spent_at, '%Y-%m-%d').strftime('%m/%d/%Y') %></td>
                <td><%= entry.redmine_name %></td>
                <td>
                    <% if entry.redmine_issue_id and !entry.status.scan(/matched|complete|locked/).empty? %>
                    <a href="/issues/<%= entry.redmine_issue_id %>" title="<%= Issue.find_by_id(entry.redmine_issue_id).subject rescue ''%>" >
                        <%= entry.redmine_issue_id %>
                    </a>
                    <% else %>
                        <p title="<%= entry.redmine_issue_id %>">!!!</p>
                    <% end %>
                </td>
                <td><%= entry.project %></td>
                <td><%= entry.task %></td>
                
                <td><% if entry.redmine_time_entry_id %>
                  <% te = TimeEntry.find_by_id(entry.redmine_time_entry_id) %>
                    <a href="/time_entries/<%= entry.redmine_time_entry_id %>/edit/" title="<%= te.activity te.comments rescue ''%>-- <%= te.comments rescue ''%>" >
                        <%= entry.hours %>
                    </a>
                    <% else %>
                        <del><%= entry.hours %></del>
                    <% end %>
                </td>
                <td><%= entry.notes %></td>   
            </tr>
            <% end %>
    </tbody>
</table>
<br />

<%= f.hidden_field :rm_smc_checbox_action, :value => "no" %>

<% end #form -%>
