<% content_for :header_tags do %>
    <%= stylesheet_link_tag "demo_table_jui.css", :plugin => "redmine_harvest_smc", :media => "screen" %>
    <%= stylesheet_link_tag "jquery.dataTables.css", :plugin => "redmine_harvest_smc", :media => "screen" %>
    <%= stylesheet_link_tag "jquery.dataTables_themeroller.css", :plugin => "redmine_harvest_smc", :media => "screen" %>
    <%= stylesheet_link_tag "demo_page.css", :plugin => "redmine_harvest_smc", :media => "screen" %>
    <%= stylesheet_link_tag "demo_table.css", :plugin => "redmine_harvest_smc", :media => "screen" %>
    <%= stylesheet_link_tag "jquery-dataTables-ColVis.css", :plugin => "redmine_harvest_smc", :media => "screen" %>

    <%= javascript_include_tag "lib/jquery-dataTables.js", :plugin => "redmine_harvest_smc" %>
    <%= javascript_include_tag "lib/jquery-dataTables.columnFilter.js", :plugin => "redmine_harvest_smc" %>
    <%= javascript_include_tag "lib/jquery-dataTables.colVis.js", :plugin => "redmine_harvest_smc" %>
    <%= javascript_include_tag "lib/jquery-cookies.min.js", :plugin => "redmine_harvest_smc" %>
    <%= javascript_include_tag "lib/jquery-select-shift-key-listener.js", :plugin => "redmine_harvest_smc" %>

    <%= javascript_include_tag "redmine_harvest_smc.js", :plugin => "redmine_harvest_smc" %>
    <style>
    .ui-menu { position: fixed; }

    </style>
  <script>
  $(function() {
    $( "#rerun" )
      .button({
          text: false,
          icons: {
            primary: "ui-icon-triangle-1-s"
          }
        })
        .click(function() {
          var menu = $( this ).parent().next().show().position({
            my: "left top",
            at: "left bottom",
            of: this
          });
          $( document ).one( "click", function() {
            menu.hide();
          });
          return false;
        })
        .parent()
          .buttonset()
          .next()
            .hide()
            .menu();
  });
  </script>

<% end %>

<form>
    <% unless @did_fetch_new_entries %>
            <button id="rm_smc_fetch_today" href="<%= harvest_fetch_today_path %>">Fetch Today</button>
        <% end %>
            <button id="rm_smc_fetch_week" href="<%= harvest_fetch_week_path %>">Fetch Past Week</button>
            <button id="rm_smc_reset_filterz">Reset Filters</button>
<table cellpadding="0" cellspacing="0" border="0" class="display" id="redmine_harvest_smc_table">
    <thead>

        <tr>
            
            <td>
                <input type="checkbox" name="foo" value="bar" id="rm_smc_checkall" title="<%= t :rm_smc_checkall %>">
                <div id="rm_smc_controlz">
                    <div><button id="rerun"></button></div>
                      <ul>
                        <li><a href="#">Sync</a></li>
                        <li><a href="#">Delete</a></li>
                      </ul>  
                </div>
            </td>

            
            <td title="permalink to Harvest">H</td>
            <td id="statusFilter"><span>Status</span></td>
            <td id="rmDateFilter"><span>Date</span></td>
            <td id="rmUserFilter"><span>RM User</span></td>
            <td id="rmIssueFilter"><span>RM Issue</span></td>
            <td id="clientFilter"><span>Client</span></td>
            <td id="taskFilter"><span>Task</span></td>
            <td id="hoursFilter"><span>Hours</span></td>
            <td id="notesFilter"><span>Notes</span></td>
            
        </tr>
    </thead>
    <tfoot class="hidden" style="visibility:hidden;">
        <tr>
            <td></td>

            <td>&nbsp;</td>
            <td>status</td>
            <td>date</td>
            <td>RM user</td>
            <td>RM issue</td>
            <td>client</td>
            <td>task</td>
            <td>hours</td>
            <td>notes</td>        
        </tr>
    </tfoot>
    <tbody>
            <% @harvest_entries.each do |entry| %>
            <tr>
                <td><input type="checkbox" name="foo" value="bar" class="chkbx_shft_lstnr"></td>


                <td><a href="https://singlemind.harvestapp.com/time/day/<%= Date.strptime(entry.spent_at, '%Y-%m-%d').strftime('%Y/%m/%d') %>" title="link to harvest" class="entry_link_to_harvest">⃔</a></td>
                <td><%= entry.status %></td>
                <td><%= Date.strptime(entry.spent_at, '%Y-%m-%d').strftime('%m/%d/%Y') %></td>
                <td><%= entry.redmine_name %></td>
                <td><%= entry.redmine_issue_id %></td>
                <td><%= entry.client %></td>
                <td><%= entry.task %></td>
                <td><%= entry.hours %></td>
                <td><%= entry.notes %></td>   
            </tr>
            <% end %>
    </tbody>
</table>
</form>
