<h2>Harvest Entries</h2>
<%= link_to "Harvest User", harvest_user_path %>

<table>
    <thead>
        <tr>
            <td>&nbsp;</td>
            <td>status</td>
            <td>harvest_id</td>
            <td>spent_at</td>
            <td>user_id</td>
            <td>client</td>
            <td>project_id</td>
            <td>task_id</td>
            <td>task</td>
            <td>hours</td>
            <td>no_timer</td>
            <td>notes</td>
    </thead>
    <% @harvest_entries.each do |entry| %>
      <tr>
        <td><a href="https://singlemind.harvestapp.com/time/day/<%= Date.strptime(entry.spent_at, '%Y-%m-%d').strftime('%Y/%m/%d') %>" title="link to harvest" class="entry_link_to_harvest">⃔</a></td>
        <td><%= entry.status %></td>
        <td><%= entry.harvest_id %></td>
        <td><%= entry.spent_at %></td>
        <td><%= entry.user_id %></td>
        <td><%= entry.client %></td>
        <td><%= entry.project_id %></td>
        <td><%= entry.task_id %></td>
        <td><%= entry.task %></td>
        <td><%= entry.hours %></td>
        <td><%= entry.hours_without_timer %></td>
        <td><%= entry.notes %></td>    
      </tr>
    <% end %>
</table>
