<% 

  @rm_smc_all_users = HarvestUser.all
  @rm_smc_total_users =  @rm_smc_all_users.count
  @rm_smc_total_syncs = HarvestSync.all.count
  @rm_smc_all_entries = HarvestSync.all
  @rm_smc_total_entries = @rm_smc_all_entries.count

  @rm_smc_total_destoryed = HarvestEntry.unscoped.status('destroyed').count
%>

<p>
  <label><%= l(:rm_smc_subdomain) %></label>
  <%= text_field_tag "settings[harvest_subdomain]", @settings[:harvest_subdomain], :size => 40 %>
  <em class="info">http://<b><i>subdomain</i></b>.harvestapp.com/</em>
</p>
<p>
  <label><%= l(:rm_smc_totals) %></label>
  <br />
  <label><%= l(:rm_smc_total_syncs) %></label>
  <%= @rm_smc_total_syncs %>
  <br />
  <label><%= l(:rm_smc_total_entries) %></label>
  <%= @rm_smc_total_entries %>
  <br />
  <label><%= l(:rm_smc_total_destroyed) %></label>
  <%= @rm_smc_total_destoryed %>
  <br />
  <label><%= l(:rm_smc_total_users) %></label>
  <%= @rm_smc_total_users %>
  <br />
  <br />
  
  <% @rm_smc_all_users.each do |user| %>

    <label><%= l(:rm_smc_harvest) %></label>
    <%= user.decrypt_username %>
    <br />
    <label><%= l(:rm_smc_redmine) %></label>
    <%= User.find_by_id(user.redmine_user_id).name %>
    <br />
    <label><%= l(:rm_smc_totals) %> <%= l(:rm_smc_total_entries) %></label>
    <%= HarvestEntry.of(user.redmine_user_id).count %>
    <br />

    <br />
  <% end %>
</p>